@mixin button-toggle-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .mat-button-toggle {
    // background-color: mat-color($primary);
    // color: mat-color($primary, default-contrast);
  }

  .mat-button-toggle-checked {
    // background-color: mat-color($accent);
    // color: mat-color($accent, default-contrast);
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast) !important;
  }

}
