<mat-form-field class="example-chip-list" appearance="outline" fxFlex="100">
  <mat-label>{{ matLabel }}</mat-label>
  <mat-chip-listbox #chipList>
    <mat-chip-option
      *ngFor="let destinatario of destinatarios"
      [selectable]="selectable"
      selected
      [removable]="removable"
      (removed)="remove(destinatario)"
    >
      <p class="nombre">
        {{ destinatario.nombreUsuario }}
      </p>
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip-option>
    <input
      matInput
      #destinatarioInput
      [formControl]="destinatarioCtrl"
      [matAutocomplete]="auto"
      [readonly]="readonlyChips"
    />
    <!-- [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)"> -->
  </mat-chip-listbox>

  <mat-spinner
    matSuffix
    [style.visibility]="show"
    [strokeWidth]="1.8"
    [diameter]="20"
  ></mat-spinner>

  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="selected($event)"
  >
    <mat-option
      *ngFor="let destinatario of allDestinatarios | async"
      [value]="destinatario"
    >
      {{ destinatario.nombreUsuario }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
