<page-container class="column">
    <documento-interno-filtro></documento-interno-filtro>
    <mat-card>
    <div fxLayout="column">
    <div fxLayout="row"
       fxLayoutAlign="start center"
       fxLayoutGap="8px">

    <documento-interno-buscar fxFlex="fill"
                              (filter)="filter($event)"></documento-interno-buscar>
    <table-toggle-column [headers]="headers"
                         [columnas]="columnas"
                         (changeSelect)="changeDisplayColumn($event)"></table-toggle-column>
    </div>
  <table-container [idContainer]="'tdoc'"
                      [heightSub]="335"
                      [loading]="pending$ | async">
      <table  mat-table
              matSort
              class="table-bordered"
              [dataSource]="datos">
        <ng-container [matColumnDef]="columna"
                      *ngFor="let columna of columnas;let i=index">
            <th mat-header-cell
                *matHeaderCellDef
                mat-sort-header> {{headers[i]}}
            </th>
            <td mat-cell
                class="pointer"
                *matCellDef="let element">
                <ng-container *ngIf="columna=='atendido'">
                  <mat-icon
                    [style.color] = "COLORS[element.atendido]"
                    [matTooltip] = "TOOLSTIP[element.atendido]"
                    >
                    {{ICONS[element.atendido]}}
                </mat-icon>
                </ng-container>
                {{element[columna]}}
            </td>
        </ng-container>
      <tr mat-header-row
          *matHeaderRowDef="columnasVisibles; sticky:true"></tr>
      <tr mat-row
          (click)="selectedRow(row)"
          *matRowDef="let row; columns: columnasVisibles;let entry"
          [ngClass]="(entry.tipoDerivacion == 'R')?'nuevoDoc':'normal'">
      </tr>
      </table>
    </table-container>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                 showFirstLastButtons></mat-paginator>
  
    </div>
  </mat-card>
  </page-container>