<form [formGroup]="form" novalidate>
  <mat-label mat-dialog-title>Agregar Remitente</mat-label>
  <!-- <mat-label mat-dialog-title
          *ngIf="data.codigoRemitenteDocumento==0; else elseBlock">Agregar Remitente</mat-label>
    <ng-template
           #elseBlock>Modificar Remitente</ng-template> -->
  <div mat-dialog-content fxLayout="column" fxLayoutGap="16px">
    <mat-form-field>
      <mat-label>Tipo Documento</mat-label>
      <mat-select [value]="selected" (valueChange)="selectChange($event)">
        <mat-option
          *ngFor="let tipoDoc of listTipoDocumento"
          [value]="tipoDoc.NombreTipoDocumentoIdentidad"
        >
          {{ tipoDoc.NombreTipoDocumentoIdentidad }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field color="primary">
      <mat-label>{{ valorTipoDocumento }}</mat-label>
      <input
        matInput
        (change)="changeValidarDni($event)"
        formControlName="numeroDocumentoIdentidad"
      />
      <button
        [hidden]="!hiddenDni"
        [disabled]="hiddenValidarDni"
        matSuffix
        mat-raised-button
        color="primary"
        (click)="validarDni()"
      >
        {{ validarStringDni }}
      </button>
    </mat-form-field>

    <mat-form-field [disabled]="!hiddenDni" color="primary">
      <mat-label>Nombre del Remitente</mat-label>
      <mat-icon matSuffix>person_add</mat-icon>
      <input matInput formControlName="nombre" />
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>Tipo de Remitente:</mat-label>
      <mat-icon matSuffix>contacts</mat-icon>
      <mat-select formControlName="tipo">
        <mat-option
          *ngFor="let t of tiposRemitente | async"
          [value]="t.CodigoTipoRemitenteDocumento"
        >
          {{ t.NombreTipoRemitenteDocumento }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field placeholder="Tipo" color="primary">
      <mat-label>Teléfono</mat-label>
      <mat-icon matSuffix>phone</mat-icon>
      <input matInput formControlName="telefono" />
    </mat-form-field>

    <mat-form-field color="primary">
      <mat-label>E-mail</mat-label>
      <mat-icon matSuffix> email</mat-icon>
      <input matInput formControlName="email" />
    </mat-form-field>

    <span>
      Si el documento que va a registrar es presentado por una empresa, debes
      indicar el RUC de la empresa, para que pueda ser tramitado correctamente.
    </span>
    <mat-checkbox class="example-margin" (click)="activarRuc($event)"
      >Presento a nombre una empresa</mat-checkbox
    >

    <mat-form-field [hidden]="hiddenRuc" color="primary">
      <mat-label>RUC</mat-label>
      <input
        matInput
        (change)="changeValidarRuc($event)"
        formControlName="numeroDocumentoIdentidadRuc"
      />
      <button
        matSuffix
        [disabled]="hiddenValidarRuc"
        mat-raised-button
        color="primary"
        (click)="validarRuc()"
      >
        {{ validarStringRuc }}
      </button>
    </mat-form-field>

    <mat-form-field [hidden]="hiddenRuc" color="primary">
      <mat-label>Razon Social</mat-label>
      <mat-icon matSuffix>person_add</mat-icon>
      <input matInput formControlName="razonSocial" />
    </mat-form-field>
  </div>
  <div
    mat-dialog-actions
    fxLayout="row"
    style="display: flex; justify-content: center; margin: -20px 0 20px 0"
    fxLayoutGap="8px"
  >
    <button
      mat-flat-button
      color="primary"
      (click)="guardarRemitente()"
      [disabled]="form.invalid"
    >
      Guardar
    </button>

    <!-- <button mat-flat-button  color="warn" [mat-dialog-close]="" cdkFocusInitial> -->
    <button
      mat-flat-button
      color="warn"
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Cancelar
    </button>
  </div>
</form>
