mat-label{
    text-align: center;
    font-weight: bold;
    // text-shadow: 2px 2px 2px #8acafe;
    color:  #45657f;
    font-size: 18px;
}

mat-icon{
    color: #e26c0b;
    border-block-color: black;
}

blockquote {
    padding: 10px 10px;
    border: #45657f 5px double;
    border-radius: 15px;
    margin: 0px;

  }

  btn btn-default{
      align-content: center;
  }

.text-center{
    text-align: center;
}
.listaPendientes li{
    font-weight: bold;
    font-size: 14px;
    //font-style: italic;
    color: black;
}

.titulo{
    font: size 12px;
    font-weight: bold;
    font-style: italic;
    color: #1a405a;
}

.mat-card:not {
    box-shadow: 16px !important;
}

.nota{
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    //color: rgb(56, 56, 56);
    color:  #1a405a;
}