<mat-card fxLayout="column"
                  fxLayoutAlign="center"
                  fxLayoutGap
                  fxLayout.xs="row"
                  fxLayoutAlign.xs="start">
            <div class="cuadro">
                <span class = "titulo" matSuffix> Documentos Pendientes </span>
                <mat-icon matSuffix>warning</mat-icon>
                <mat-divider class="mg-bot-8" style="height:2px"></mat-divider>
                <mat-divider class="mg-bot-8" style="height:2px"></mat-divider>
                    <ul class="listaPendientes">
                      <li *ngIf="data.nuevos">Nuevos: {{data.nuevos}} Docs</li>
                      <li *ngIf="data.noleidos"> Pendientes sin rpta: {{data.noleidos}} Docs</li>
                      <li *ngIf="data.leidos"> Pendientes Leídos sin rpta: {{data.leidos}} Docs</li>
                      <li *ngIf="data.enProceso"> Docs. en Redacción: {{data.enProceso}} Docs</li>
                    </ul>
                <ul><li class="nota">Los documentos derivados "Con Copia", serán "Atendidos Automáticamente" cuando el usuario se informe - (opcional) puede ingresar una descripción</li></ul>
                 <div class="text-center">
                <!-- <mat-divider class="mg-bot-8"
                              style="height:5px"></mat-divider> -->
                <div class="text-center">
                  <button class="btn btn-default"
                          mat-flat-button
                          color="warn"
                          [mat-dialog-close]="true"
                          cdkFocusInitial>
                          Cerrar
                  </button>
            </div>
<!-- </mat-card> -->


<!-- <blockquote>
  <mat-label>Documentos Pendientes</mat-label>
     <mat-icon>warning</mat-icon>
       <mat-divider class="mg-bot-8"></mat-divider>

            <h4> Nuevos: {{data.nuevos}} Documentos</h4> -->
            <!-- PARA HABILITAR <h4> Pendientes Leídos: {{data.leidos}} Documentos</h4> -->
            <!-- <h4> Pendientes: {{data.noleidos}} Documentos</h4>
     <div class="text-center">
       <button class="btn btn-default"
            mat-flat-button
            color="warn"
            [mat-dialog-close]="true"
            cdkFocusInitial>
            Cerrar
       </button>
     </div>
</blockquote> -->
