<ng-container *ngIf="item.disabled !== true">
  <!-- <a class="sidenav-anchor" *ngIf="!(item.children?.length > 0); else elseBlock"
     mat-list-item matRipple [routerLink]="[item.link]" routerLinkActive="active"
     [routerLinkActiveOptions]="{exact: true}"> -->
  <a
    class="sidenav-anchor"
    *ngIf="!(item.children!.length > 0); else elseBlock"
    mat-list-item
    matRipple
    routerLink="/{{ item.link }}"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <div class="estilos">
      <div class="icono">
        <mat-icon>{{ item.icon }}</mat-icon>
      </div>
      <div class="nombre">
        <span>{{ item.name }}</span>
      </div>
      <span fxFlex> <!-- fill space --></span>
      <span *ngIf="item.badge" [style.background-color]="item.badge.color">{{
        item.badge
      }}</span>
    </div>
  </a>
  <ng-template #elseBlock>
    <a
      class="sidenav-anchor"
      mat-list-item
      matRipple
      (click)="toggleDropdown()"
    >
      <div class="estilos">
        <mat-icon> {{ item.icon }} </mat-icon>
        <div class="nombredos">
          <span>{{ item.name }}</span>
        </div>

        <!--<span class="badge fade-in-on-icon-sidenav" *ngIf="item.badge" -->
        <!--[style.background-color]="item.badge.color" style="margin-right: 12px;">{{ item.badge.value }}</span>-->
        <mat-icon>expand_more</mat-icon>
      </div>
    </a>
  </ng-template>

  <mat-nav-list
    class="sidenav-list sidenav-list-nested"
    fxLayout="column"
    [style.height]="getSubItemsHeight()"
  >
    <ngx-sidenav-item
      *ngFor="let submenu of item.children"
      [item]="submenu"
    ></ngx-sidenav-item>
  </mat-nav-list>
</ng-container>
