<div fxLayout="row" fxLayoutGap="8px" fxLayout.xs="column">

  <mat-form-field class="mat-sm" fxFlex="47" color="primary" appearance="outline" floatLabel="always">
    <mat-label>Fecha Inicio</mat-label>
    <input matInput [matDatepicker]="pickerInicio" placeholder="dd/mm/aaaa"
           readonly [(ngModel)]="fechaInicio" (dateChange)="changeInicio($event.value)">
    <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
    <mat-datepicker #pickerInicio disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="mat-sm" fxFlex="47" color="primary" appearance="outline" floatLabel="always">
    <mat-label>Fecha Fin</mat-label>
    <input matInput [matDatepicker]="pickerFin" placeholder="dd/mm/aaaa"
           readonly [(ngModel)]="fechaFin" (dateChange)="changeFin($event.value)">
    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
    <mat-datepicker #pickerFin disabled="false"></mat-datepicker>
  </mat-form-field>

</div>
