<form [formGroup]="form"
      (ngSubmit)="saveDoc()"
      #f="ngForm"
      novalidate
      class="wd-100"
      fxLayout="column"
      fxLayoutGap="8px">
    <loading-sp [loading]="saving"></loading-sp>
    <mat-progress-bar *ngIf="loading"
                      mode="indeterminate">
    </mat-progress-bar>
    <span class="fs-16 fw-500 mg-bot-8">Datos Nuevo Documento</span>

    <row-container>
        <mat-form-field fxFlex="18"
                        fxFlex.xs="auto"
                        class="mg-bot-8"
                        appearance="outline"
                        color="primary">
            <mat-label>Código Documento</mat-label>
            <input matInput
                   formControlName="codigoDocumento"
                   autocomplete="off"
                   readonly
                   type="text">

                   <!-- [matToolTip]= "20 Año Documento"
                   [matToolTipShowDelay]="2000"
                   [matToolTipHideDelay]="2000" -->

        </mat-form-field>

        <mat-form-field fxFlex="18"
                        fxFlex.xs="auto"
                        class="mg-bot-8"
                        appearance="outline"
                        color="primary">
            <mat-label>Estado Trámite</mat-label>
            <input matInput
                   formControlName="nombreEstadoDocumento"
                   autocomplete="off"
                   readonly
                   type="text">
        </mat-form-field>
        <!-- Aumentando Mesa Partes -->
        <mat-form-field fxFlex="20"
                        fxFlex.xs="auto"
                        class="mg-bot-8"
                        appearance="outline"
                        color="primary">
            <mat-label>Mesa Partes</mat-label>
            <input matInput
                   formControlName="mesaPartes"
                   autocomplete="off"
                   readonly
                   type="text">
        </mat-form-field>
        <!-- Fin de Mesa Partes -->
        <mat-form-field fxFlex="20"
                        fxFlex.xs="auto"
                        class="mg-bot-8"
                        appearance="outline"
                        color="primary">
            <mat-label>Tipo de Documento</mat-label>
            <mat-select formControlName="codigoTipoDocumento">
                <mat-option *ngFor="let t of tipos.tiposDocumento"
                            [value]="t.codigo">
                    {{t.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="20"
                        fxFlex.xs="auto"
                        appearance="outline"
                        class="mg-bot-8"
                        color="primary">
            <mat-label>Recepción</mat-label>
            <mat-select formControlName="codigoTipoRecepcion">
                <mat-option *ngFor="let t of tipos.tiposRecepcion"
                            [value]="t.codigo">                           
                    {{t.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </row-container>

    <remitente-buscar fxFlex="100"
                      fxLayout="row"
                      fxLayoutAlign="start center"
                      fxLayoutGap="8px"
                      fxFlex.xs="auto"
                      fxLayout.xs="column"
                      fxLayoutAlign.xs="start"
                      [disabled]="form.get('codigoDocumento').disabled"
                      (remitente)="changeRemitente($event)">
    </remitente-buscar>
    <row-container>

        <mat-form-field fxFlex="25"
                        fxFlex.xs="auto"
                        appearance="outline"
                        class="mg-bot-8"
                        color="primary">
            <mat-label>Nro Documento</mat-label>
            <input matInput
                   formControlName="numeroDocumentoFisico"
                   placeholder="Ingrese Nro Documento"
                   autocomplete="off"
                   type="text">
        </mat-form-field>

        <mat-form-field fxFlex="25"
                        fxFlex.xs="auto"
                        appearance="outline"
                        class="mg-bot-8"
                        color="primary">
            <mat-label>Nro Expediente</mat-label>
            <input matInput
                   formControlName="numeroExpediente"
                   placeholder="Ingrese Nro Expediente"
                   autocomplete="off"
                   type="text">
        </mat-form-field>

        <mat-form-field fxFlex="25"
                        fxFlex.xs="auto"
                        appearance="outline"
                        class="mg-bot-8"
                        color="primary">
            <mat-label>Páginas</mat-label>
            <input matInput
                   formControlName="numeroPaginas"
                   autocomplete="off"
                   type="number"
                   min=1>
        </mat-form-field>


        <mat-form-field fxFlex="25"
                        appearance="outline"
                        class="mg-bot-8"
                        color="primary">
            <mat-label>Fecha Documento</mat-label>
            <input matInput
                   formControlName="fechaDocumento"
                   readonly
                   [matDatepicker]="dp1">
            <mat-datepicker-toggle matSuffix
                                   [for]="dp1"></mat-datepicker-toggle>
            <mat-datepicker #dp1
                            [disabled]="form.get('codigoDocumento').disabled"></mat-datepicker>
        </mat-form-field>

    </row-container>

    <row-container>

        <mat-form-field fxFlex="calc(33% - 6px)"
                        appearance="outline"
                        class="mg-bot-8"
                        color="primary">
            <mat-label>Recibido el</mat-label>
            <input matInput
                   formControlName="fechaRecepcion"
                   readonly
                   [matDatepicker]="pickerRecibido">
            <mat-datepicker-toggle matSuffix
                                   [for]="pickerRecibido"></mat-datepicker-toggle>
            <mat-datepicker #pickerRecibido
                            [disabled]="form.get('codigoDocumento').disabled"></mat-datepicker>
        </mat-form-field>


        <div fxFlex="33"
             fxFlex.xs="auto"
             fxLayout="row"
             fxLayoutAlign="end center"
             fxLayoutGap="4px"
             class="mg-bot-8">
            <mat-checkbox #chkVencimiento
                          formControlName="tieneVencimiento"></mat-checkbox>
            <mat-form-field appearance="outline"
                            color="primary">
                <mat-label>Fecha Vencimiento</mat-label>
                <input matInput
                       readonly
                       (blur)="onBlur('fechaVencimiento')"
                       [matDatepicker]="dpVencimiento"
                       formControlName="fechaVencimiento">
                <mat-datepicker-toggle matSuffix
                                       [for]="dpVencimiento"></mat-datepicker-toggle>
                <mat-datepicker #dpVencimiento
                                [disabled]="!chkVencimiento.checked"></mat-datepicker>
            </mat-form-field>
        </div>


        <div fxFlex="33"
             fxFlex.xs="auto"
             fxLayout="row"
             fxLayoutAlign="end center"
             fxLayoutGap="4px"
             class="mg-bot-8">
            <mat-checkbox #chkCaducidad
                          formControlName="tieneCaducidad"></mat-checkbox>
            <mat-form-field appearance="outline"
                            color="primary">
                <mat-label>Fecha Caducidad</mat-label>
                <input matInput
                       readonly
                       (blur)="onBlur('fechaCaducidad')"
                       formControlName="fechaCaducidad"
                       [matDatepicker]="dpCaducidad">
                <mat-datepicker-toggle matSuffix
                                       [for]="dpCaducidad"></mat-datepicker-toggle>
                <mat-datepicker #dpCaducidad
                                [disabled]="!chkCaducidad.checked"></mat-datepicker>
            </mat-form-field>
        </div>

    </row-container>

    <mat-form-field appearance="outline"
                    color="primary">
        <mat-label>Asunto</mat-label>
        <textarea matInput
                  formControlName="contenidoDocumento"
                  rows="2"></textarea>
    </mat-form-field>


    <div *ngIf="form.get('codigoDocumento').enabled"
         fxLayout="row"
         fxLayoutAlign="end center">
        <button fxFlex="20"
                fxFlex.xs=""
                type="submit"
                mat-raised-button
                [disabled]="!form.valid"
                color="primary">GUARDAR DOCUMENTO <mat-icon>save</mat-icon>
        </button>
    </div>
</form>