<div fxFlex = "150" align = "center">
  <h3>Ruta del Documento</h3>
<mat-card fxLayoutAlign="center"
      fxLayoutGap="0px"
      fxLayout.xs="row"
      fxLayoutAlign.xs="start">
      <!-- [view]="[500, 500]" -->
  <ngx-graph
            class="chart-container d-inline"
            [view]="[500, 500]"
            [links]="data.flechas"
            [nodes]="data.nodos"
            [panningEnabled]="estadoMover"
            [enableZoom]="estadoZoom"
            [draggingEnabled]="estadoNodos">
    <ng-template #defsTemplate>
      <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
      </svg:marker>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g class="node"
            ngx-tooltip
            [tooltipPlacement]="top"
            [tooltipType]="tooltip"
            [tooltipTitle]="node.label">
        <svg:circle [attr.r]="node.dimension.width/2"
                    [attr.cx]="node.dimension.width/2"
                    [attr.cy]="node.dimension.width/2"
                    [attr.fill]="getColor(node.tipoNodo)"/>
        <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
          {{node.labelShow}}
        </svg:text>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge" (click)="onClickFlecha(link)">
        <svg:path class="line" [attr.stroke]="getColor(link.tip)" stroke-width="2" marker-end="url(#arrow)"></svg:path>
        <svg:text class="edge-label" text-anchor="middle">
          <textPath
            class="text-path"
            [attr.href]="'#' + link.id"
            [style.dominant-baseline]="link.dominantBaseline"
            startOffset="50%">
            {{link.label}}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
  </mat-card>
  <mat-divider> </mat-divider>
  <mat-divider> </mat-divider>
  <mat-card fxLayoutAlign="center"
            fxLayoutGap="16px"
            fxLayout.xs="row"
            fxLayoutAlign.xs="start"
            [style.visibility]="estadoLeyenda? 'visible':'hidden'"
  >
    <section>
      <h5>Usuarios</h5>
    <ul class="leyenda">
      <li *ngFor="let l of data.nodos">
          <span [style.backgroundColor]='getColor(l.tipoNodo)'>{{l.labelShow}}</span>
          {{l.label}}
      </li>
    </ul>
  </section>
  <section>
      <h5>Acciones</h5>
      <ul class="leyenda">
        <li [style.color]="colores['P']">
         --► Verde: Derivado enviado como "Principal"
        </li>
        <li [style.color]="colores['C']">
         --► Azul: Derivado como "Con Copia"
        </li>
        <li [style.color]="colores[2]">
          --► Ambar: El documento tiene Atención Final
        </li>
        <li [style.color]="colores[1]">
          --► Marron: El documento Fue "Atendido" - Informado
        </li>
      </ul>
  </section>
</mat-card>
</div>
  <div fxFlex = "25"
       style="font-size: 10px">
      <mat-card fxLayout="column"
                fxLayoutAlign="center"
                fxLayoutGap="16px"
                fxLayout.xs="row"
                fxLayoutAlign.xs="start">
          <div class="cuadro">
            <span style="font-weight: bold"> Reporte N°{{data.detalle.codigoDocumentoTramite}}</span>
            <mat-icon matSuffix>check_circle</mat-icon>
            <p>Remitente:</p>{{data.detalle.nombreRemitenteDocumento}}
            <p>Asunto:</p> {{data.detalle.contenidoDocumento}}
         </div>
        </mat-card>
       <mat-divider> </mat-divider>
       <mat-card fxLayout="column"
                fxLayoutAlign="center"
                fxLayoutGap="16px"
                fxLayout.xs="row"
                fxLayoutAlign.xs="start">
          <div class="cuadro">
              <span style="font-weight: bold"> Detalle </span>
              <p class="flecha">
                <span [style.backgroundColor]='getColor(e.tipoSource)'>{{e.showSource}}</span>
                <span [style.color]="getColor(e.tipo)">----></span>
                <span [style.backgroundColor]='getColor(e.tipoTarget)'>{{e.showTarget}}</span>
              </p>
              <p>De:</p>{{e.de}}
              <p>Para:</p>{{e.para}}
              <!-- <p>Recibido:{{e.recibido}}</p> -->
              <p>Fecha Derivación:</p>{{e.fecha}}
              <p>Proveído:</p>{{e.descripcion}}

          </div>
      </mat-card>
      <mat-divider> </mat-divider>
      <mat-divider> </mat-divider>
      <mat-card fxLayout="column"
                fxLayoutAlign="center"
                fxLayoutGap="16px"
                fxLayout.xs="row"
                fxLayoutAlign.xs="start">
      <p>
          <mat-slide-toggle [(ngModel)] ="estadoLeyenda">Leyenda</mat-slide-toggle>
      <!-- </p>
      <p> -->
          <mat-slide-toggle [(ngModel)] ="estadoMover">Mover Grafo</mat-slide-toggle>
      <!-- </p>
      <p> -->
          <mat-slide-toggle [(ngModel)] ="estadoNodos">Mover Nodos</mat-slide-toggle>
      <!-- </p>
      <p> -->
          <mat-slide-toggle [(ngModel)] ="estadoZoom">Zoom</mat-slide-toggle>
      </p>
    </mat-card>
    <mat-divider> </mat-divider>
      <mat-divider> </mat-divider>
</div>
