
<page-container class="row-center">
  <mat-card class="max-wd-950 wd-full">
    <mat-card-title>
      <mat-toolbar color="primary" fxLayoutGap="16px">
        <a mat-flat-button
           color="primary"
           routerLink="../bandeja">
          <mat-icon>arrow_back</mat-icon>
        </a>
        <span>Registro de Documento</span>
      </mat-toolbar>
    </mat-card-title>
    <mat-card-content fxLayout="column"
                      fxLayoutGap="16px">
      <div></div>

      <documento-nuevo-datos (save)="codigoDocumento=$event"></documento-nuevo-datos>

      <mat-divider> </mat-divider>

      <ng-container *ngIf="codigoDocumento!=0">
        <documento-adjuntar
        [codigoDocumento]="codigoDocumento"
        (sizeAdjuntos)="sizeAdjuntos=$event"
        ></documento-adjuntar>
          <mat-divider> </mat-divider>
        <documento-derivar [codigoDocumento]="codigoDocumento"
                           [sizeAdjuntos]="sizeAdjuntos"
                           (derivar)="derivar()"></documento-derivar>
      </ng-container>

    </mat-card-content>

  </mat-card>
</page-container>
