<mat-card fxLayout="row"
          fxLayoutAlign="space-between"
          fxLayoutGap="16px"
          fxLayout.xs="column"
          fxLayoutAlign.xs="start">
  <mat-form-field fxFlex
                  appearance="outline"
                  color="primary">
    <mat-label>Usuario</mat-label>
    <input matInput
          autocomplete="off"
          [formControl]="nombreUsuario"
          [matAutocomplete]="auto"
          placeholder="Filtrar Usuario...">
    <!-- Para el combo de usuario -->

    <mat-autocomplete #auto="matAutocomplete"
              [displayWith]="displayFn"
           (optionSelected)="selectUsuarios($event.option.value)">
        <mat-option *ngFor="let r of usuarios | async"
                   [value]="r">
            <span>{{ r.nombreUsuario }}</span>
        </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
  <div fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="8px"
      fxLayout.xs="column"
      fxLayoutAlign.xs="start end">
  <mat-form-field fxFlex
                [style.width]="'250px'"
                  appearance="outline"
                  class="mat-sm"
                  color="primary">
      <mat-label>Fecha y Hora</mat-label>
            <input matInput placeholder="Click para indicar hora y fecha"
                      (dateTimeChange)="changeFecha()"
                      [(ngModel)]="dateTimeRange"
                      [selectMode]="'range'"
                      [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1">
              <owl-date-time #dtRange1></owl-date-time>
    </mat-form-field>
    <!-- Vista Previa -->
        <button mat-mini-fab
                matTooltip="Vista Previa Reporte"
                style="margin-top: 10px; margin-right: 10px;"
                (click)="actualizar()">
          <mat-icon>find_in_page</mat-icon>
        </button>
        <!-- Descargar pdf -->
        <button mat-mini-fab
                matTooltip="Descargar"
                style="margin-top: 10px; margin-right: 10px;"
                (click)="descargarPdf()">
            <mat-icon>cloud_download</mat-icon>
        </button>
        <!-- Abrir pdf -->
        <button mat-mini-fab
              matTooltip="Abrir Pdf"
              style="margin-top: 10px; margin-right: 10px;"
              (click)="openPdf()">
            <mat-icon>picture_as_pdf</mat-icon>
        </button>
      <a #link style="display: none" class="a-link-file"></a>
  </div>
</mat-card>

