mat-label{
    font-weight: bold;   
}
mat-header-cell{
    text-align: center;
}
.mat-column-nombreArchivo {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    justify-content: center;
    text-align: left;
  }
  .mat-column-descripcionArchivo {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    justify-content: center;
    text-align: left;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .mat-cell {
    font-size: 12px;
  }
  .mat-header-cell{
    font-weight: bold;   
  }
  .aprobacion{
    margin-top: 20px !important;
  }
  .botonAprobacion{
    margin-top: 30px !important;
    margin-left: 8px;
  }
  .boxdestinatario{
    background-color: #efeded;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #727272;
  }