<!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center center"
     class="centrar">
  <mat-card fxFlex="35" fxFlex.xs="auto">
    <mat-card-header>
      <mat-card-title style="text-align: center"
                      class="documento">Registrar Doc. Externo</mat-card-title>
      </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content >
      <p>
        Permite registrar un nuevo documento externo que ingresa a la organización.
      </p>
      <div align="end">
        <button mat-raised-button (click)="documentoNuevo()" color="primary">Acceder</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="25" fxFlex.xs="auto">
    <mat-card-header>
      <mat-card-title style="text-align: center"
                      class="documento">Tramitar Documentos</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        Permite recepcionar los documentos para su respectivo trámite.
      </p>
      <div align="end">
        <button mat-raised-button (click)="bandeja(2)" color="primary">Acceder</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="25" fxFlex.xs="auto">
      <mat-card-header>
            <mat-card-title style="text-align: center"
                            class="documento">Reporte de Cargo</mat-card-title>                  
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        Permite obtener la lista de los documentos enviados para su verificación.
      </p>
      <div align="end">
        <button mat-raised-button (click)="reporte()" color="primary">Acceder</button>
      </div>
    </mat-card-content>
 </mat-card>

  <mat-card fxFlex="25" fxFlex.xs="auto">
    <mat-card-header>
      <mat-card-title style="text-align: center"
                      class="documento">Buscar Documento</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>
        Presenta una forma de búsqueda más eficaz, de todos los documentos que fueron registrados.
      </p>
      <div align="end">
        <button mat-raised-button (click)="seguimientoDocumento()" color="primary">Acceder</button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="35" fxFlex.xs="auto">
    <mat-card-header>
      <mat-card-title style="text-align: center"
                      class="documento">Crear Doc. Interno</mat-card-title>
      </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content >
      <p>
        Permite generar un nuevo documento interno de la organización.
      </p>
      <div align="end">
        <button mat-raised-button (click)="documentoInterno()" color="primary">Acceder</button>
      </div>
    </mat-card-content>
  </mat-card>
</div> -->

<div class="container">
  <h2>Mesa de Partes</h2>
  <div class="flex-container" fxLayout="row">
    <mat-card fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutGap="0.3%"
              fxLayoutAlign="center">
      <div fxFlex="25%">
        <img mat-card-image class="img" src="assets/registrar_ex.png">
      </div>
      <mat-card-content fxFlex="75%">
        <h3>Registrar Doc. Nuevo Externo</h3>
        <p>
          Permite registrar un nuevo documento externo que ingresa a la organización. 
        </p>
        <button mat-raised-button (click)="documentoNuevo()" color="primary">Acceder</button>
      </mat-card-content>
    </mat-card>
    <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.3%" fxLayoutAlign="center">
        <div fxFlex="25%">
          <img mat-card-image class="img" src="assets/mesa_partes.png">
        </div>
        <mat-card-content fxFlex="75%">
          <h3>Tramitar Documentos</h3>
          <p>
            Permite recepcionar los documentos para su respectivo trámite. 
          </p>
          <button mat-raised-button (click)="bandeja(2)" color="primary">Acceder</button>
        </mat-card-content>
    </mat-card> 
    <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.3%" fxLayoutAlign="center">
      <div fxFlex="25%">
        <img mat-card-image class="img" src="assets/reporte_cargo.png">
      </div>
      <mat-card-content fxFlex="75%">
        <h3>Reporte Cargo</h3>
        <p>
          Permite obtener la lista de los documentos enviados para su verificación.
        </p>
        <button mat-raised-button (click)="reporte()" color="primary">Acceder</button>
      </mat-card-content>
    </mat-card>
  </div>
  <h2>Mis Documentos por Tramitar</h2>
  <div class="flex-container" fxLayout="row">
    <mat-card fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutGap="0.3%"
              fxLayoutAlign="center">
      <div fxFlex="25%">
        <img mat-card-image class="img" src="assets/tramitar_ex.png">
      </div>
      <mat-card-content fxFlex="75%">
        <h3>Tramitar Doc. Externos</h3>
        <p>
          Permite tramitar los documentos externos que fueron ingresados por mesa de partes. 
        </p>
        <button mat-raised-button (click)="bandeja(2)" color="primary">Acceder</button>
      </mat-card-content>
    </mat-card>
    <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.3%" fxLayoutAlign="center">
        <div fxFlex="25%">
          <img mat-card-image class="img" src="assets/tramitar_in.png">
        </div>
        <mat-card-content fxFlex="75%">
          <h3>Registrar Doc. Nuevo Interno</h3>
          <p>
            Permite crear un nuevo documento interno para ser tramitado dentro de la organización. 
          </p>
          <button mat-raised-button (click)="documentoNuevoInterno()" color="primary">Acceder</button>
        </mat-card-content>
    </mat-card> 
    <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.3%" fxLayoutAlign="center">
      <div fxFlex="25%">
        <img mat-card-image class="img" src="assets/registrar_in.png">
      </div>
      <mat-card-content fxFlex="75%">
        <h3>Tramitar Doc. Internos</h3>
        <p>
          Permite registrar un nuevo documento externo que ingresa a la organización. 
        </p>
        <button mat-raised-button (click)="documentoInterno()" color="primary">Acceder</button>
      </mat-card-content>
    </mat-card>
  </div>
  <h2>Opciones de Ayuda</h2>
  <div class="flex-container" fxLayout="row">
    <mat-card fxLayout="row"
              fxLayout.xs="column"
              fxLayoutWrap
              fxLayoutGap="0.3%"
              fxLayoutAlign="center">
      <div fxFlex="25%">
        <img mat-card-image class="img" src="assets/buscar_doc.png">
      </div>
      <mat-card-content fxFlex="75%">
        <h3>Buscar Documento</h3>
        <p>
          Presenta una forma de búsqueda más eficaz, de todos los documentos que fueron registrados. 
        </p>
        <button mat-raised-button (click)="seguimientoDocumento()" color="primary">Acceder</button>
      </mat-card-content>
    </mat-card>
    <!-- <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.3%" fxLayoutAlign="center">
        <div fxFlex="25%">
          <img mat-card-image class="img" src="assets/registrar_ex.png">
        </div>
        <mat-card-content fxFlex="75%">
          <h3>Registrar Doc. Nuevo Externo</h3>
          <p>
            Permite registrar un nuevo documento externo que ingresa a la organización. 
          </p>
          <button mat-raised-button (click)="documentoInterno()" color="primary">Acceder</button>
        </mat-card-content>
    </mat-card> 
    <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.3%" fxLayoutAlign="center">
      <div fxFlex="25%">
        <img mat-card-image class="img" src="assets/registrar_ex.png">
      </div>
      <mat-card-content fxFlex="75%">
        <h3>Registrar Doc. Nuevo Externo</h3>
        <p>
          Permite registrar un nuevo documento externo que ingresa a la organización. 
        </p>
        <button mat-raised-button (click)="documentoInterno()" color="primary">Acceder</button>
      </mat-card-content>
    </mat-card> -->
  </div>
</div>