<page-container class="row-center">
  <mat-card class="max-wd-950 wd-full">
    <mat-card-title>
      <mat-toolbar color="primary"
                   fxLayoutGap="16px">
        <a mat-flat-button
           color="primary"
           routerLink="../../bandeja">
          <mat-icon>arrow_back</mat-icon>
        </a>
        <span>Detalle Documento {{doc.usuarioBuzon}}</span>
        <span>Documento: {{codigoDocumento}}</span>
      </mat-toolbar>
    </mat-card-title>
    <mat-card-content fxLayout="column"
                      fxLayoutGap="16px">
      <div></div>
      <documento-detalle [codigoDocumento]="codigoDocumento"></documento-detalle>

      <mat-divider> </mat-divider>

      <documento-atencion (atender)="atender()"></documento-atencion>

      <mat-divider> </mat-divider>

      <documento-adjuntar [codigoDocumento]="codigoDocumento"
                          (sizeAdjuntos)="sizeAdjuntos=$event"
                          [numeroAtencion] = "doc.numeroAtencion"></documento-adjuntar>
      <mat-divider> </mat-divider>

      <ng-container *ngIf="derivar">
        <div *ngIf="!toggleDerivar"
             fxLayout="row"
             fxLayoutAlign="start center"
             fxLayoutGap="8px"
             class="mg-bot-8">
          <span class="fs-16 fw-500">Derivar Documento</span>
          <button mat-icon-button
                  color="primary"
                  (click)="!toggleDerivar=true"
                  matTooltip="Derivar Documento">
                <mat-icon>contact_mail</mat-icon>
          </button>
        </div>
        <documento-derivar *ngIf="toggleDerivar"
                           [codigoDocumento]="codigoDocumento"
                           [sizeAdjuntos]="sizeAdjuntos"
                           (derivar)="derivarDocumento()"></documento-derivar>
      </ng-container>

      <div *ngIf="recuperarDerivacion"
           fxLayout="row"
           fxLayoutAlign="start center"
           fxLayoutGap="8px"
           class="mg-bot-8">
        <span class="fs-16 fw-500">Recuperar Derivación</span>
        <button mat-icon-button
                color="primary"
                matTooltip="Recuperar Derivación"
                (click)="deshacerDerivacion()">
          <mat-icon>unsubscribe</mat-icon>
        </button>
      </div>
      <div *ngIf="cancelarAtencion"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="8px"
            class="mg-bot-8">
        <span class="fs-16 fw-500">Cancelar Atención</span>
        <button mat-icon-button
                color="primary"
                matTooltip="Deshacer Atención"
                (click)="deshacerAtencion()">
          <mat-icon>speaker_notes_off</mat-icon>
        </button>
        <mat-hint>cancelada la atención, diríjase "Bandeja de Entrada"</mat-hint>
      </div>
    </mat-card-content>


  </mat-card>

</page-container>
