<div fxLayout="row"
     fxLayout.xs="column"
     fxLayoutAlign="space-between center">
  <div fxLayout="row"
       fxLayoutAlign="start center"
       fxLayoutGap="16px">
    <span class="fs-16 fw-500">Destinatario(s)</span>

    <mat-radio-group fxLayout="row"
                     fxLayout.xs="column"
                     fxLayoutGap="4px"
                     (change)="porNombre=$event.value"
                     [(value)]="porNombre">
      <mat-radio-button [value]="1">Trabajador:</mat-radio-button>
      <mat-radio-button [value]="2">Area:</mat-radio-button>
      <mat-radio-button [value]="3">CAP:</mat-radio-button>
      
    </mat-radio-group>
  </div>

  <mat-radio-group fxLayout="row"
                   fxLayout.xs="column"
                   fxLayoutGap="4px"
                   (change)="tipoBusqueda=$event.value"
                   [(value)]="tipoBusqueda">
    <mat-radio-button [value]="2">Contiene:</mat-radio-button>
    <mat-radio-button [value]="1">Empieza con:</mat-radio-button>
  </mat-radio-group>
</div>

<div fxLayout="column">
  <div style="font-size: 10px">(Ingrese las 5 primeras letras del nombre o apellido)</div>
  <destinatario-filtro [tipoBusqueda]="tipoBusqueda"
                       [porNombre]="porNombre"
                       [matLabel]="'Para:()'"
                       (returnDestinatarios)="destinatariosPara($event)"></destinatario-filtro>                                       
  <destinatario-filtro [tipoBusqueda]="tipoBusqueda"
                       [porNombre]="porNombre"
                       [matLabel]="'Con Copia (CC):'"
                       (returnDestinatarios)="destinatariosConCopia($event)"></destinatario-filtro>
</div>
