<form [formGroup]="form" novalidate>
  <div class="backdropFirma" *ngIf="firmando"></div>
  <firma
    *ngIf="isSave"
    #firma
    [f]="fields"
    style="position:absolute;z-index:2000"
    (resultado)="resultadoFirma($event)"></firma>
  <h1 mat-dialog-title>Adjuntar Archivo</h1>
  <mat-divider class="mg-bot-8"></mat-divider>
  <div mat-dialog-content fxLayout="column" fxLayoutGap="8px">
    <upload-file (file)="changeFile($event)"></upload-file>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Título del Documento</mat-label>
      <input
        maxlength="110"
        matInput
        placeholder="Ingrese Título..."
        formControlName="titulo"/>
    </mat-form-field>
    <div  class="mensaje_documento"
          *ngIf="titulo.errors?.maxlength"> 
          <mat-icon>report</mat-icon>
           No es posible cargar el archivo, máximo 110 caracteres en el título
    </div> 
    <!-- Dentro del pop up -->
    <mat-radio-group formControlName = "codigoTipoDocumentoTramiteAdjunto" >
        <mat-radio-button value= "1">Principal</mat-radio-button>
        <mat-radio-button value= "2">Anexo</mat-radio-button>
    </mat-radio-group>

    <mat-form-field appearance="outline" color="primary">
      <mat-label>Descripción Documento</mat-label>
      <textarea
        matInput
        placeholder="Ingrese Descripción..."
        formControlName="descripcionArchivo"
        rows="2">
      </textarea>
    </mat-form-field>

    <mat-form-field
                    appearance="outline"
                    color="primary"
                    floatLabel="always">
      <mat-label>Razón Firma Documento (Solo si va a firmar el documento)</mat-label>
      <mat-select formControlName="razon">
        <mat-option *ngFor="let t of tipos.tiposFirmaMotivo"
                    [value]="t.nombre">                    
          {{t.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="file">
      <div fxLayout="row" fxLayoutAlign="end center">
        <span class="fw-400 cl-accent">{{ progress }} %</span>
      </div>
      <mat-progress-bar
        mode="determinate"
        [value]="progress"
        color="accent">
      </mat-progress-bar>
    </ng-container>
  </div>

  <div mat-dialog-actions fxLayout="row" fxLayoutGap="8px">
    <button
      mat-raised-button
      color="primary"
      (click)="subirArchivo()"
      [disabled]="form.invalid || file == undefined"
    >
      Solo Subir Archivo
    </button>

    <button
      mat-raised-button
      color="primary"
      (click)="guardarArchivo()"
      [disabled]="form.invalid || file == undefined"
    >
      Firmar y Subir Archivo
    </button>

    <button mat-button color="warn" [mat-dialog-close]="" cdkFocusInitial>
      Cancelar
    </button>
  </div>
</form>