$app-black-primary: mat.define-palette(mat.$grey-palette, 700, 300, 900);
$app-black-accent: mat.define-palette(mat.$blue-grey-palette, 400);
$app-black-warn: mat.define-palette(mat.$red-palette, 500);

$app-black-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-black-primary,
      accent: $app-black-accent,
      warn: $app-black-warn,
    ),
  )
);

.mat-mdc-text-field-wrapper {
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
  flex: none !important;
}

.mat-mdc-form-field-flex {
  display: flex !important;
  align-items: center !important;
}

.sidenav-list > ngx-sidenav-item .estilos {
  height: 43px !important;
}
