$app-blue-primary: mat-palette($mat-indigo, 800, 300, 900);
$app-blue-accent: mat-palette($mat-light-blue);
$app-blue-warn: mat-palette($mat-pink, 600);

$app-blue-theme: mat-light-theme(
  $app-blue-primary,
  $app-blue-accent,
  $app-blue-warn
);
