$app-blue-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$app-blue-accent: mat.define-palette(mat.$light-blue-palette);
$app-blue-warn: mat.define-palette(mat.$pink-palette, 600);

$app-blue-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-blue-primary,
      accent: $app-blue-accent,
      warn: $app-blue-warn,
    ),
  )
);
