<div fxLayout="row"
     fxLayoutAlign="start center"
     fxLayoutGap="8px"
     class="wd-100">

  <button fxFlex="145px"
          mat-stroked-button
          [disabled]="disabled"
          (ngxf-select)="uploadFile($event)"
          color="primary">
    Subir Archivo
    <mat-icon>attachment</mat-icon>
  </button>

  <div fxLayout="column"
       fxFlex>

    <div fxLayout="row"
         fxLayoutAlign="space-between center">
      <span class="fw-400 cl-accent">{{fileName}}</span>
      <span class="fw-400 cl-accent">{{progress}} %</span>
    </div>

    <mat-progress-bar mode="determinate"
                      [value]="progress"
                      color="accent"></mat-progress-bar>
  </div>

</div>