<form [formGroup]="form"
      (ngSubmit)="derivarDoc()"
      #f="ngForm"
      novalidate
      class="wd-100"
      fxLayout="column"
      fxLayoutGap="8px">
<loading-sp [loading]="saving"></loading-sp>
<div class="boxdestinatario"
        fxFlex="100"
        fxFlex.xs="auto"
        appearance="outline"
>
<ng-container *ngIf="doc.tipoDerivacion === 'R'; else verDestinatario">
      <destinatario-buscar-interno
                 (para)="para($event)"
                 [matLabel]="'Destinatario'"></destinatario-buscar-interno>
</ng-container>
<ng-template #verDestinatario>
      <span class="fs-16 fw-500">Destinatario(s)</span>
      <mat-form-field fxFlex="100"
          fxFlex.xs="auto"
          appearance="outline"
          class="mg-bot-8"
          color="primary">
          <mat-label>Destinatario</mat-label>
          <input matInput
                 readonly
                 [value]="doc.destinatario+' - '+doc.correo">
      </mat-form-field>
</ng-template>
</div>
<documento-anexo-interno [codigoDocumento]="codigoDocumento"></documento-anexo-interno>

<documento-interno-vb 
                (listAprobaciones)="listAprobaciones($event)"
                [codigoDocumento]="codigoDocumento"></documento-interno-vb>

<div
      *ngIf="doc.tipoDerivacion === 'R'"
      fxLayout="row"
      fxLayoutAlign="end center">
        <button fxFlex="20"
                      fxFlex.xs="100"
                      type="submit"
                      mat-raised-button
                      [disabled]="form.get('loginUsuarioPara').value.length==0"
                      color="primary">DERIVAR DOCUMENTO <mat-icon>contact_mail</mat-icon>
        </button>
</div>
</form>