@use "@angular/material" as mat;
@use "sass:map";
@include mat.core();

@mixin class-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .default-theme,
  .blue-theme {
    .cl,
    .text {
      color: $gray-light;
    }
  }

  .black-theme {
    .cl,
    .text {
      color: $gray-black;
    }
  }

  .cl-primary,
  .text-primary,
  h2 {
    color: mat.get-color-from-palette($primary);
  }

  .bg-primary {
    color: mat.get-color-from-palette($primary, default-contrast);
    background-color: mat.get-color-from-palette($primary);
  }

  .cl-accent,
  .text-accent {
    color: mat.get-color-from-palette($accent);
  }

  .cl-warn,
  .text-warn {
    color: mat.get-color-from-palette($warn);
  }
}

.cl-success,
.text-success {
  color: $success;
}

.cl-info,
.text-info {
  color: $info;
}

.cl-warning,
.text-warning {
  color: $warning;
}

/************TAMAÑO FUENTES**************/
.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

/***********************ESTILO NOTIFICACIONES**********************/
.notifyok-title {
  font-weight: 300;
  color: $success;
}

.notifyerror-title,
.swalerror-title {
  font-weight: 300;
  color: $error;
}

.notifyinfo-title {
  font-weight: 300;
  color: $info;
}

.notifywarn-title {
  font-weight: 300;
  color: $warning;
}

.notifyquestion-title,
.swalquestion-title {
  font-weight: 300;
  color: $question;
}

/******************************************************/
.wd-full,
.wd-100 {
  width: 100%;
}

.max-wd-950 {
  max-width: 950px;
}
.max-wd-1300 {
  max-width: 1300px;
}

/**********************PADDING************************/
.pd-0 {
  padding: 0;
}

.pd-6 {
  padding: 6px;
}

.pd-12 {
  padding: 12px;
}

.pd-24 {
  padding: 24px;
}

.pd-36 {
  padding: 36px;
}

/*******************MARGIN*************************/
.mg-bot-8 {
  margin-bottom: 8px;
}

/****************************************************/
.pointer {
  cursor: pointer;
}

/********************elemnto a descargar archivo**************************/
.a-link-file {
  display: none;
}

.relative {
  position: relative;
}

.overflow-auto {
  overflow: auto;
}

// .loading-spinner {
//   // margin-top: 30px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0; // bottom: 56px;
//   right: 0;
//   background: rgba(0, 0, 0, 0.15);
//   z-index: 1000;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
