.contenido{
    font-size: 12px 
  
}
.titulo{
    font: size 12px;
    font-weight: bold;
    font-style: italic;
    color: #1a405a
}

.subtitulo{
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    color: #1a405a
}

.mat-icon{
    color: #1a405a
}

.atendido {
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    color: #e69605 !important; 

  }
 .lectura {
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    color: #92412d !important;
 }