@import '../../../scss/constants';


.dashboard-container,
.route-container {
  height: 100%;
}

@media screen and ((min-width: 600px) and (max-width: 959.98px)) {
  button.user-button {
    min-width: 72px;
  }
}

/**
 * deep TODO
 */
:host-context {
  @media screen and (min-width: 960px) {
    .mat-drawer-backdrop {
      z-index: 50 !important;
    }
  }
}

.main-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - #{$mat-toolbar-height-desktop});
  position: relative;

  @media (max-width: 599.98px) {
    height: calc(100% - #{$mat-toolbar-height-mobile-portrait});
  }
}

.content-container {
  height: 100%;
}

.m-crumb {
  margin: 12px 24px 0 24px !important;
  padding: 10px;
}
