<div fxLayout="row"
     fxLayoutAlign="start center"
     fxLayoutGap="8px"
     class="mg-bot-8">
  <span class="fs-16 fw-500">Archivos Adjuntos</span>
  <button mat-icon-button
          color="primary"
          (click)="adjuntar()"
          matTooltip="Adjuntar/Subir Archivo">
    <mat-icon>cloud_upload</mat-icon>
  </button>
</div>
<mat-hint>Extensiones permitidas "Pdf,Word,Excel,zip,rar"</mat-hint>
<p class="titulos_adjuntos">Adjuntos Respuestas</p>
<table mat-table
       class="wd-100"
       #respuesta
       [dataSource]="archivos.anexosRespuesta">
  <ng-container matColumnDef="nombreUsuario">
        <th mat-header-cell
            *matHeaderCellDef>Usuario</th>
        <td mat-cell
            *matCellDef="let e"> {{e.nombreUsuario}} </td>
  </ng-container>
  <ng-container matColumnDef="nombreArchivo">
    <th mat-header-cell
        *matHeaderCellDef>Archivo</th>
    <td mat-cell
        *matCellDef="let e"> {{e.nombreArchivo}} </td>
  </ng-container>

  <ng-container matColumnDef="descripcionArchivo">
    <th mat-header-cell
        *matHeaderCellDef>Descripción Archivo</th>
    <td mat-cell
        *matCellDef="let e"> {{e.descripcionArchivo}} </td>
  </ng-container>

  <ng-container matColumnDef="fechaArchivo">
    <th mat-header-cell
        *matHeaderCellDef>Fecha Archivo</th>
    <td mat-cell
        *matCellDef="let e"> {{e.fechaArchivo}} </td>
  </ng-container>

  <ng-container matColumnDef="accion">
    <th mat-header-cell
        *matHeaderCellDef>Acciones</th>
    <td mat-cell
        *matCellDef="let e">
      <div>
        <!-- <button mat-icon-button 
                matTooltip="Descargar"
                color="primary"
                (click)="descargarTodos()">
               (click)="descargarVarios([e, e])">// Prueba para descargar todos
          <mat-icon>cloud_download</mat-icon>
        </button> -->
        <button mat-icon-button 
                matTooltip="Descargar"
                color="primary"
                (click)="descargar(e)">
          <mat-icon>cloud_download</mat-icon>
        </button>
        <!-- <button mat-icon-button 
                matTooltip="AbrirPDF"
                (click)="openPDF(e)">str.indexOf(ending, str.length - ending.length) !== -1
                <mat-icon>launch</mat-icon>
        </button> -->
        <button mat-icon-button 
              matTooltip="Vista Previa"
              type="button"
              (click)="abrirVisor(e)"
              [style.visibility]= "(e.extencion =='pdf')? 'visible' : 'hidden'">
              <mat-icon>image_search</mat-icon>
        </button>

        <button mat-icon-button 
                matTooltip="Eliminar"
                (click)="eliminar('respuesta',e)"
                [style.visibility]="(bandejaf.bandeja=='e' && e.eliminable)? 'visible' : 'hidden'">
                <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="codigoTipoDocumentoTramiteAdjunto">
      <th mat-header-cell
          *matHeaderCellDef>Tipo Docs Adjunto</th>
      <td mat-cell
          *matCellDef="let e">
        <div>
                <mat-radio-group [disabled] = "(e.loginUsuario != buzonActual.loginUsuarioBuzon)"
                                 [(ngModel)]= "e.codigoTipoDocumentoTramiteAdjunto"
                                 (change)="actualizarTipoAdjunto($event, e)">
                    <mat-radio-button [value]= "1">Principal</mat-radio-button>
                    <mat-radio-button [value]= "2">Anexo</mat-radio-button>
                </mat-radio-group>
        </div>
      </td>
    </ng-container>

  <tr mat-header-row
      *matHeaderRowDef="columnas"></tr>
  <tr mat-row
      *matRowDef="let row; columns: columnas;"></tr>
</table>
<p class="titulos_adjuntos">Adjuntos Iniciales</p>
<table mat-table
       class="wd-100"
       #iniciales
       [dataSource]="archivos.anexosIniciales">
  <ng-container matColumnDef="nombreUsuario">
        <th mat-header-cell
            *matHeaderCellDef>Usuario</th>
        <td mat-cell
            *matCellDef="let e"> {{e.nombreUsuario}} </td>
  </ng-container>
  <ng-container matColumnDef="nombreArchivo">
    <th mat-header-cell
        *matHeaderCellDef>Archivo</th>
    <td mat-cell
        *matCellDef="let e"> {{e.nombreArchivo}} </td>
  </ng-container>

  <ng-container matColumnDef="descripcionArchivo">
    <th mat-header-cell
        *matHeaderCellDef>Descripción Archivo</th>
    <td mat-cell
        *matCellDef="let e"> {{e.descripcionArchivo}} </td>
  </ng-container>

  <ng-container matColumnDef="fechaArchivo">
    <th mat-header-cell
        *matHeaderCellDef>Fecha Archivo</th>
    <td mat-cell
        *matCellDef="let e"> {{e.fechaArchivo}} </td>
  </ng-container>

  <ng-container matColumnDef="accion">
    <th mat-header-cell
        *matHeaderCellDef>Acciones</th>
    <td mat-cell
        *matCellDef="let e">
      <div>
        <button mat-icon-button 
                matTooltip="Descargar"
                color="primary"
                (click)="descargar(e)">
          <mat-icon>cloud_download</mat-icon>
        </button>

        <button mat-icon-button 
              matTooltip="Vista Previa"
              type="button"
              (click)="abrirVisor(e)"
              [style.visibility]= "(e.extencion =='pdf')? 'visible' : 'hidden'">
              <mat-icon>image_search</mat-icon>
        </button>
        <button mat-icon-button 
                matTooltip="Eliminar"
                (click)="eliminar('iniciales',e)"
                [style.visibility]="(bandejaf.bandeja=='e' && e.eliminable)? 'visible' : 'hidden'">
                <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="codigoTipoDocumentoTramiteAdjunto">
      <th mat-header-cell
          *matHeaderCellDef>Tipo Docs Adjunto</th>
      <td mat-cell
          *matCellDef="let e">
        <div>
                <mat-radio-group [disabled] = "(e.loginUsuario != buzonActual.loginUsuarioBuzon)"
                                 [(ngModel)]= "e.codigoTipoDocumentoTramiteAdjunto"
                                 (change)="actualizarTipoAdjunto($event, e)">
                    <mat-radio-button [value]= "1">Principal</mat-radio-button>
                    <mat-radio-button [value]= "2">Anexo</mat-radio-button>
                </mat-radio-group>
                 <!-- [disabled]="buzonActual.permiso<3"  //  [disabled] = "(e.usuarioCrea != loginUsuarioBuzon)"-->
            <!-- <mat-radio-group  [(ngModel)]="e.codigoTipoDocumentoTramiteAdjunto">
                <mat-radio-button  *ngFor="let l of tipoArchivos"
                                   (change)="actualizarTipoAdjunto(e)"        
                                   [value]="l.val">
                                   {{l.nome}}
                </mat-radio-button>
            </mat-radio-group> -->
        </div>
      </td>
    </ng-container>  
  <tr mat-header-row
      *matHeaderRowDef="columnas"></tr>
  <tr mat-row
      *matRowDef="let row; columns: columnas;"></tr>
</table>
<a #link style="display: none"
   class="a-link-file"></a>

<!-- Descargar Todos -->
<!-- <ng-container matColumnDef="accion">
    <th mat-header-cell
        *matHeaderCellDef>Acciones</th>
    <td mat-cell
        *matCellDef="let e"> -->
  <div class="descarga">
      <mat-hint >Descargar todo .Zip</mat-hint>
      <button mat-icon-button 
                  matTooltip="Descargar"
                  color="primary"
                  (click)="descargarTodos()">
              <mat-icon>cloud_download</mat-icon>
      </button>
  </div>
 <!-- </td> -->
<!-- </ng-container> -->
<!-- </td> -->
